<ion-header>
  <ion-toolbar>
    <ion-title>
      Chatkit Demo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-text color="primary" class="ion-text-center">
    <h4>Mis Chats</h4>
  </ion-text>
  
  <!-- <ion-spinner  name="dots" *ngIf="userList.length === 0"></ion-spinner> -->
  <ion-list>
    <ion-item class="user-item">
      <div class="user-avatar">

      </div>
      <ion-label class="user-name">
        Viviana
      </ion-label>
      <div class="user-presence">
        <ion-icon [class.user-online]="" name="radio-button-on"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="user-item">
      <div class="user-avatar">

      </div>
      <ion-label class="user-name">
        Daniel
      </ion-label>
      <div class="user-presence">
        <ion-icon [class.user-online]="" name="radio-button-on"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="user-item">
      <div class="user-avatar">

      </div>
      <ion-label class="user-name">
        Augusto
      </ion-label>
      <div class="user-presence">
        <ion-icon [class.user-online]="" name="radio-button-on"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>