<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center class="ion-margin-top">
            <h3 class="ion-text-center">¡Inicia seción en Petly!</h3>
          </div>
          <div padding id="login">
            <ion-item class="formItem">
              <ion-input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" type="email" placeholder="tu@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item class="formItem">
              <ion-input minlength="8" name="password" type="password" placeholder="Contraseña (minimo 8 carácteres)" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Entrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>


<ion-footer>
  <ion-item>
    <ion-label class="ion-text-center">¿No tienes cuenta?</ion-label>
    <ion-button expand="full" fill="solid" routerLink="/register">Registrate</ion-button>
  </ion-item>
</ion-footer>